<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhong.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="com.zhong.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.zhong.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.zhong.activity.StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zhong.activity.GuideActivity"
            android:label="@string/title_activity_guide" >
        </activity>
        <activity
            android:name="com.zhong.activity.FunctionActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.zhong.activity.ContentActivity"
            android:label="@string/title_activity_content" >
        </activity>
        <activity
            android:name="com.zhong.activity.ShareActivity"
            android:label="@string/title_activity_share" >
        </activity>
    </application>

</manifest>